.carousel2,
.carousel-models,
.carousel-countries,
.carousel-features{
    padding-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__description{
        width: 75%;
        padding-bottom: 5%;
        margin-left: -5%;
    }

    &__h2{
        padding-bottom: 1em;
        font-weight: 550;
        font-size: 26px;

    }

    &__p{
        width: 85%;
        font-size: 15px;
        font-weight: 500;
        color: #3b3d43;

        &--intro{
            font-size: 15px;
            font-weight: 500;
            color: #3b3d43;
            width: 80%;
            line-height: 20px;
        }

        &--rollout{
            margin-top: 5%;
            margin-bottom: 5%;
            font-size: 13px;
            font-weight: 550;
            color:#666769;
            opacity: 0; /* Comienza con opacidad cero (invisibles) */
            transition: opacity 1s ease, transform 1s ease; /* Transiciones suaves para opacity y transform */
            transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
        }

    }
    .active{
        opacity: 1; /* Opacidad final es 1, completamente visible */
        transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
        animation: none; /* Desactiva la animación cuando se agrega la clase active */
    }

    &__asset{
        width: 1200px;
        border-radius: 5px;
    }

    &__slider{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
        padding-top: 5%;       
    }

    &__slide{
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        cursor: pointer;
        position: relative;
        opacity: 0.6;
        color: #939393;

        &--features{
            width: 15%;
            margin-bottom: 15%;
            justify-content: flex-start;
            gap: 1em
        }
    }

    &__slide::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #939393;
        top:-2px   
    }


    &__h3{
        font-weight: 550;
        padding-top: 10px;
        padding-bottom: 5%;
        align-self: flex-start;

    }

    &__p{
        padding: 0 0 5% 0;
        font-size: 14px;
        font-weight: 500;
        color: #3b3d43;
        align-self: start;

    }

    .isSlideActive{
        color: #000;
        opacity: 1;
    }

    .isSlideActive::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        background-color: #000000;
        top:-2px   
    }

    .slider-details{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2em;


        &__detail{
            display: flex;
            flex-direction: column;
        }

        &__h2{
            font-weight: 600;
        }
        &__p{
            font-size: 12px;
            font-weight: 500;
        }
    }

}

.carousel-models{
    background-color: #f4f4f4;
}


// Desktop design

@media screen and (min-width: 1440px) {

    .carousel2,
    .carousel-models,
    .carousel-countries,
    .carousel-features{
        padding-top: 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__description{
            width: 55%;
            padding-bottom: 3%;
        }

        &__p{
            width: 90%;
            padding-bottom: 5%;

            &--intro{
                width: 75%;
                font-size: 14px;
            }
        }

        &__asset{
            width: 1500px;
        }
    
        &__slide{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            cursor: pointer;
            position: relative;
            opacity: 0.6;
            color: #939393;
    
            &--features{
                width: 15%;
                margin-bottom: 15%;
                justify-content: flex-start;
                gap: 1em
            }
        }
    }
}