@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mynerve&display=swap");

// Custom ScrollBar

::-webkit-scrollbar {
  width: 6px;
  background: #252525;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fc9a15;
  border-radius: 5px;
}

// General Project Styles

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

#root {
  position: relative;
}

.inactive {
  display: none;
}


// import micro_styles

@import "micro_styles/01.banner/banner.scss";
@import "micro_styles/02.header/header.scss";
@import "micro_styles/03.heros/heros.scss";
@import "micro_styles/04.separator/separator.scss";
@import "micro_styles/05.carouselV1/carouselV1.scss";
@import "micro_styles/06.descriptions-section/descriptions-section.scss";
@import "micro_styles/07.carouselV2/carouselV2.scss";
@import "micro_styles/08.cta-sections/cta-sections.scss";
@import "micro_styles/09.hero-informative-sections/hero-informative-sections.scss";
@import "micro_styles/10.tesla-vision/tesla-vision.scss";
@import "micro_styles/11.slider-specifications/slider-specifications.scss";
@import "micro_styles/12.footer/footer.scss";
