@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mynerve&display=swap");
::-webkit-scrollbar {
  width: 6px;
  background: #252525;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fc9a15;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

#root {
  position: relative;
}

.banner {
  position: relative;
}
.banner .bannerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2470588235);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 2px 0;
}
.banner__h4 {
  color: whitesmoke;
  font-size: large;
  font-weight: 550;
  margin-left: 45px;
}
.banner .bannerLinks {
  display: flex;
  gap: 1.5em;
  padding: 5px;
  margin-right: 45px;
}
.banner .bannerLinks__a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  font-size: 12px;
  padding: 7px;
  width: 160px;
  text-align: center;
}
.banner .bannerLinks__a--right {
  background-color: #2f2f2f;
  border-radius: 3px;
}

.inactive {
  display: none;
}

.topHero {
  background-image: url("/images/hero.jpg");
}

.secondHero {
  background-image: url("/images/secondHero.jpg");
}

.thirdHero {
  background: url("/images/Model-S-Exterior-Hero.jpg");
}

.heroSection {
  background-size: cover;
  background-position: center;
  height: 140vh;
  position: relative;
}
.heroSection .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  padding: 20px 40px 20px 40px;
}
.heroSection .header__logo {
  width: 130px;
  cursor: pointer;
}
.heroSection .header .headerMenu__ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.heroSection .header .headerMenu__li {
  list-style: none;
}
.heroSection .header .headerMenu__a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 550;
  font-size: 14px;
}
.heroSection .header .headerLinks__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.heroSection .header .headerLinks__li {
  list-style: none;
}
.heroSection .header .headerLinks__a {
  text-decoration: none;
}
.heroSection .header .headerLinks__img {
  width: 20px;
}
.heroSection .heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heroSection .heroText__h2 {
  color: #2f2f2f;
  text-align: center;
  margin: 25px auto 10px;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 600;
}
.heroSection .heroText__a {
  color: #2f2f2f;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #515151;
  z-index: 1;
  transition: 0.3s;
}
.heroSection .heroText__a:hover {
  color: #000;
  transition: 0.3s;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.heroSection .heroInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  gap: 5em;
  text-align: center;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  bottom: 90px;
  margin: auto;
  color: whitesmoke;
  width: 60%;
}
.heroSection .heroInfo .infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 3;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
  transition: opacity 1.8s ease, transform 1.8s ease; /* Transiciones suaves para opacity y transform */
}
.heroSection .heroInfo .infoContainer__h3 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}
.heroSection .heroInfo .infoContainer__p {
  font-size: 13px;
  font-weight: 600;
}
.heroSection .heroInfo .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}
.heroSection .buttonsHero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 40px;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transition: opacity 1s ease, transform 1s ease; /* Transiciones suaves para opacity y transform */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
}
.heroSection .buttonsHero__a {
  padding: 10px;
  text-decoration: none;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 550;
}
.heroSection .buttonsHero__a--left {
  color: #2e313a;
  background-color: whitesmoke;
  border: solid 3px whitesmoke;
}
.heroSection .buttonsHero__a--right {
  background-color: transparent;
  border: solid 3px whitesmoke;
  color: whitesmoke;
  transition: 0.3s;
}
.heroSection .buttonsHero__a--right:hover {
  background-color: whitesmoke;
  color: #2e313a;
  transition: 0.3s;
}
.heroSection .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}

.heroSpecification {
  color: whitesmoke;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0px -150px 100px 10px #000;
}

.separator {
  background-color: #000;
  height: 30vh;
  position: relative;
  padding-bottom: 20vh;
}
.separator__h2 {
  color: whitesmoke;
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  font-weight: 550;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transform: translateY(20px); /* Comienza desplazado hacia abajo 20px */
  transition: opacity 1.8s ease, transform 1.8s ease; /* Transiciones suaves para opacity y transform */
}
.separator .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}

.separator::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0px 100px 100px 10px #000;
}

.insider {
  height: 90vh;
  background-image: url("/images/insiderSection.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 40vh;
}

.insider::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0px 100px 100px 10px #000;
}

.videoInsider {
  width: 100%;
  background-color: #000;
  padding-top: 30vh;
  display: flex;
  justify-content: center;
}
.videoInsider .videoInsiderclip {
  width: 92%;
  margin: auto;
  border-radius: 5px;
}

.descriptionsSection {
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding-top: 40vh;
  padding-bottom: 20vh;
}
.descriptionsSection .caption {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
}
.descriptionsSection .caption__img {
  flex: 1;
  width: 100px;
}
.descriptionsSection .caption .captionText {
  color: whitesmoke;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transition: opacity 1.8s ease, transform 1.8s ease; /* Transiciones suaves para opacity y transform */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
}
.descriptionsSection .caption .captionText__h5 {
  width: 320px;
}
.descriptionsSection .caption .captionText__p {
  width: 350px;
  font-size: 14px;
}
.descriptionsSection .caption .captionTextForward {
  align-items: start;
}
.descriptionsSection .caption .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}
.descriptionsSection .captionForward:nth-child(even) {
  flex-direction: row-reverse;
}
.descriptionsSection .captionForward:nth-child(odd) .captionText {
  display: flex;
  align-items: end;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transition: opacity 1s ease, transform 1s ease; /* Transiciones suaves para opacity y transform */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
}
.descriptionsSection .captionForward:nth-child(odd) .captionText__h5 {
  width: 350px;
}
.descriptionsSection .captionForward:nth-child(odd) .captionText__p {
  width: 350px;
  font-size: 14px;
}
.descriptionsSection .captionForward:nth-child(odd) .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}

.descriptionsSectionReverse .captionReverse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
  margin: auto;
}
.descriptionsSectionReverse .captionReverse .captionTextReverse {
  align-items: start;
}
.descriptionsSectionReverse .captionReverse:nth-child(odd) {
  flex-direction: row-reverse;
}
.descriptionsSectionReverse .captionReverse:nth-child(even) .captionTextReverse__h5 {
  width: 350px;
  margin-left: auto;
}
.descriptionsSectionReverse .captionReverse:nth-child(even) .captionTextReverse__p {
  width: 350px;
  font-size: 14px;
  margin-left: auto;
}

.ctaSectionsBlack {
  background-color: #000;
  color: white;
}

.ctaSectionsWhite {
  background-color: white;
  color: #000;
}

.ctaSections .ctaSectionsContainer {
  width: 77%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  align-items: flex-start;
  padding: 50px 0px;
  gap: 3em;
}
.ctaSections .ctaSectionsLeft {
  flex: 2.5;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transition: opacity 1.8s ease, transform 1.8s ease; /* Transiciones suaves para opacity y transform */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
}
.ctaSections .ctaSectionsLeft__h3 {
  font-weight: 400;
}
.ctaSections .ctaSectionsLeft__h2 {
  font-weight: 600;
  font-size: 27px;
  padding-bottom: 10px;
}
.ctaSections .ctaSectionsLeft__p {
  font-size: 14px;
  font-weight: 500;
  color: #56595c;
  line-height: 20px;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 10px;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 180px;
  border-radius: 5px;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a--white,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a--white {
  border: solid 3px black;
  transition: 0.3s;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a--white:hover,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a--white:hover {
  background-color: #000;
  color: white;
  transition: 0.3s;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a--grey,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a--grey {
  background-color: #f4f4f4;
  border: solid 3px #f4f4f4;
  transition: 0.3s;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a--grey:hover,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a--grey:hover {
  background-color: #e8e8e8;
  border: solid 3px #e8e8e8;
  color: black;
  transition: 0.3s;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a--black,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a--black {
  border: solid 3px white;
  transition: 0.3s;
  color: white;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a--black:hover,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a--black:hover {
  background-color: white;
  color: black;
  transform: 0.3s;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a--dark,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a--dark {
  border: solid 3px #222222;
  background-color: #222222;
  color: white;
  transition: 0.3s;
}
.ctaSections .ctaSectionsLeft .ctaSectionsWhiteLeftButtons__a--dark:hover,
.ctaSections .ctaSectionsLeft .ctaSectionsBlackLeftButtons__a--dark:hover {
  background-color: #3e3e3e;
  border: solid 3px #3e3e3e;
  transition: 0.3s;
}
.ctaSections .ctaSectionsRight {
  flex: 3.5;
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transition: opacity 1s ease, transform 1s ease; /* Transiciones suaves para opacity y transform */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
}
.ctaSections .ctaSectionsRightImage {
  flex: 1;
}
.ctaSections .ctaSectionsRightImage__img {
  width: 500px;
}
.ctaSections .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}
.ctaSections .ctaSectionsWhiteRight {
  color: #56595c;
}
.ctaSections .ctaSectionsBlackRight {
  color: white;
}

.tesla-vision {
  background-image: url("/images/Autopilot-Hero-Vision_Desktop.jpg");
  background-position: center;
  background-size: cover;
  height: 120vh;
}
.tesla-vision .tesla-vision-content {
  display: flex;
  flex-direction: column;
  height: 120vh;
  justify-content: center;
  padding-left: 70px;
  gap: 8em;
}
.tesla-vision .tesla-vision-content .tesla-vision-content-text {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.tesla-vision .tesla-vision-content .tesla-vision-content-text__h3 {
  font-size: 24px;
  font-weight: 550;
}
.tesla-vision .tesla-vision-content .tesla-vision-content-text__p {
  font-size: 12px;
  font-weight: 550;
}
.tesla-vision .tesla-vision-content .tesla-vision-content-text__img {
  width: 50px;
}
.tesla-vision .tesla-vision-content .tesla-vision-content-text--container-one,
.tesla-vision .tesla-vision-content .tesla-vision-content-text--container-two,
.tesla-vision .tesla-vision-content .tesla-vision-content-text--container-three {
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transition: opacity 1s ease, transform 1s ease; /* Transiciones suaves para opacity y transform */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
}
.tesla-vision .tesla-vision-content .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}

.hero-informative-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
.hero-informative-section .hero-informative-asset {
  position: relative;
  width: 70%;
}
.hero-informative-section .hero-informative-asset__video {
  width: 100%;
}
.hero-informative-section .hero-informative-asset__img {
  width: 600px;
  position: absolute;
  right: 200px;
  left: 150px;
}
.hero-informative-section .hero-informative-content {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.hero-informative-section .hero-informative-content .hero-informative-info {
  width: 32%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s ease, transform 0.8s ease;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}
.hero-informative-section .hero-informative-content .hero-informative-info__h3 {
  font-size: 22px;
  font-weight: 600;
}
.hero-informative-section .hero-informative-content .hero-informative-info__p {
  font-size: 13px;
  font-weight: 500;
}
.hero-informative-section .hero-informative-content .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}
.hero-informative-section .hero-informative-cta {
  width: 30%;
  position: relative;
}
.hero-informative-section .hero-informative-cta .hero-informative-text {
  display: flex;
  flex-direction: column;
  padding: 50px 30px 0px 40px;
}
.hero-informative-section .hero-informative-cta .hero-informative-text__h3 {
  font-size: 18px;
  font-weight: 400;
}
.hero-informative-section .hero-informative-cta .hero-informative-text__h2 {
  font-weight: 600;
  font-size: 27px;
  padding-bottom: 30px;
}
.hero-informative-section .hero-informative-cta .hero-informative-text__p {
  font-size: 14px;
  font-weight: 500;
  color: #56595c;
  line-height: 20px;
  width: 100%;
}
.hero-informative-section .hero-informative-cta .hero-informative-cta-buttons {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}
.hero-informative-section .hero-informative-cta .hero-informative-cta-buttons__a {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 10px;
  width: 75%;
  border-radius: 5px;
}
.hero-informative-section .hero-informative-cta .hero-informative-cta-buttons__a--white {
  border: solid 3px black;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.hero-informative-section .hero-informative-cta .hero-informative-cta-buttons__a--white:hover {
  background-color: #000;
  color: white;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.hero-informative-section .hero-informative-cta .hero-informative-cta-buttons__a--grey {
  background-color: #f4f4f4;
  border: solid 3px #f4f4f4;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.hero-informative-section .hero-informative-cta .hero-informative-cta-buttons__a--grey:hover {
  background-color: #e8e8e8;
  border: solid 3px #e8e8e8;
  color: black;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.hero-informative-section .hero-informative-cta .active {
  opacity: 1;
  transform: translateY(0);
  animation: none;
}

.slider-specifications {
  width: 100%;
  background-color: #000;
}
.slider-specifications--center {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 7em;
  padding-bottom: 40px;
  padding-top: 60px;
}
.slider-specifications .slider-specifications-asset {
  padding-top: 100px;
}
.slider-specifications .slider-specifications-asset__img {
  width: 600px;
}
.slider-specifications .slider-specifications-content {
  color: white;
  width: 35%;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}
.slider-specifications .slider-specifications-content__h3 {
  font-size: 27px;
  font-weight: 400;
  padding-bottom: 25px;
  letter-spacing: 1px;
}
.slider-specifications .slider-specifications-content .slider-specifications-content-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}
.slider-specifications .slider-specifications-content .slider-specifications-content-buttons__button {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  background-color: #000;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.slider-specifications .slider-specifications-content .button-off {
  border: solid 2px #191919;
  color: #bcbdbe;
}
.slider-specifications .slider-specifications-content .button-on {
  border: solid 2px white;
  color: white;
}
.slider-specifications .slider-specifications-content-showcases {
  margin-top: 30px;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns__ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns__li {
  list-style: none;
  position: relative;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 10px;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns__li strong {
  font-weight: 600;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns__li::before {
  position: absolute;
  content: "";
  width: 15%;
  height: 1px;
  background-color: #8e8e8e;
  top: -2px;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcase2 {
  display: none;
}
.slider-specifications .active {
  opacity: 1;
  transform: translateY(0);
  animation: none;
}

.footer {
  padding-top: 30px;
  margin-bottom: 100px;
}
.footer__p {
  width: 55%;
  margin: auto;
  text-align: center;
  font-size: 13px;
  padding-bottom: 50px;
}
.footer__p--linkText {
  color: #2f2f2f;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-weight: 500;
  color: #515151;
  transition: 0.3s;
}
.footer__p--linkText:hover {
  color: #000;
  transition: 0.3s;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.footer .footerLinks {
  width: 55%;
  margin: auto;
  margin-top: 20px;
}
.footer .footerLinks__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer .footerLinks__li {
  list-style: none;
  font-size: 12px;
}
.footer .footerLinks__a {
  text-decoration: none;
  color: #56595c;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */