@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mynerve&display=swap');

*{
    margin:0;
    padding: 0;
}

body{
    font-family: 'Montserrat'
}

.banner{
    background: radial-gradient(54.97% 272.54% at 27.36% -134.72%,rgba(108,148,255,.92) 0,rgba(0,0,0,.92) 100%);
    padding: 17px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;

    &__span{
        &--h5{
            color: whitesmoke; 
            font-weight: bolder;
            font-size: 17px;
        }

        &--p{
            color: whitesmoke;
            font-size: 14px;
            font-weight: 500;
        }
    }

    &__a{
        color: whitesmoke;

    }
}

.hero{
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 140vh;
    position: relative;

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:1em;
        padding: 20px 40px 20px 40px;
        
        &__logo{
            width: 130px;
            cursor: pointer;
        }

        .headerMenu{
            &__ul{
                display: flex;
                flex-direction: row;
                gap: 2em;
            }

            &__li{
                list-style: none;
            }

            &__a{
                text-decoration: none;
                color: #2f2f2f;
                font-weight: 550;
                font-size: 14px;
            }
        }

        .headerLinks{
            &__ul{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1em;
                
            }

            &__li{
                list-style: none;

            }

            &__a{
                text-decoration: none;
            }

            &__img{
                width: 20px;
            }
        }    
    }

    .heroText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__h2{
            color: #2f2f2f;
            text-align: center;
            margin: 25px auto 10px;
            letter-spacing: 2px;
            font-size: 40px;
            font-weight: 600;
        }
    
        &__a{
            color: #2f2f2f;
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 3px; 
            font-size: 14px;
            font-weight: 500;
            color: #515151;
            z-index: 1;
            transition: 0.3s;
        }
        
        &__a:hover{
            color:#000;
            transition: 0.3s;
            text-decoration-thickness: 2px;
            text-underline-offset: 3px; 
        }
    }

    .heroInfo{
        display: flex;
        flex-direction: row;
        position: absolute;
        gap:5em;
        text-align: center;
        bottom: 90px;
        padding-bottom: 20px;
        margin: auto;
        left: 24%;
        color: whitesmoke;

        .infoContainer{
            display: flex;
            flex-direction: column;
            gap:1em;

            &__h3{
                font-size: 25px;
                font-weight: 600;
                letter-spacing: 1px;
            }

            &__p{
                font-size: 13px;
                font-weight: 600;
            }
        }

    }

    .buttonsHero{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5em;
        position: absolute;
        bottom: 40px;
        left: 30%;
        padding-bottom: 10px;

        &__a{
            padding: 10px;
            text-decoration: none;
            width: 250px;
            text-align: center;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 550;

            &--left{
                color: #2e313a;
                background-color: whitesmoke;
                border:solid 3px whitesmoke;
            }

            &--right{
                background-color: transparent;
                border:solid 3px whitesmoke;
                color:whitesmoke;
                transition: 0.3s;
            }

            &--right:hover{
                background-color: whitesmoke;
                color: #2e313a;
                transition: 0.3s;
            }
        }
    }
}

.heroSpecification{
    color: whitesmoke;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 31%;
    font-size: 13px;
    font-weight: 500;
}

header::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: inset 0px -150px 100px 10px #000;
}

.separator{
    background-color: #000;
    height: 50vh;

    &__h2{
        color: whitesmoke;
        text-align: center;
        padding-top: 100px;
        font-size: 30px;
        font-weight: 550;

    }
}