@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mynerve&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}

#root {
  position: relative;
}

.banner {
  position: relative;
}
.banner .bannerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2470588235);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 3;
  width: 100%;
  padding: 2px 0;
}
.banner__h4 {
  color: whitesmoke;
  font-size: large;
  font-weight: 550;
  margin-left: 45px;
}
.banner .bannerLinks {
  display: flex;
  gap: 1.5em;
  padding: 5px;
  margin-right: 45px;
}
.banner .bannerLinks__a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
  font-size: 12px;
  padding: 7px;
  width: 160px;
  text-align: center;
}
.banner .bannerLinks__a--right {
  background-color: #2f2f2f;
  border-radius: 3px;
}

.inactive {
  display: none;
}

.hero {
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 140vh;
  position: relative;
}
.hero .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  padding: 20px 40px 20px 40px;
}
.hero .header__logo {
  width: 130px;
  cursor: pointer;
}
.hero .header .headerMenu__ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.hero .header .headerMenu__li {
  list-style: none;
}
.hero .header .headerMenu__a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 550;
  font-size: 14px;
}
.hero .header .headerLinks__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.hero .header .headerLinks__li {
  list-style: none;
}
.hero .header .headerLinks__a {
  text-decoration: none;
}
.hero .header .headerLinks__img {
  width: 20px;
}
.hero .heroText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .heroText__h2 {
  color: #2f2f2f;
  text-align: center;
  margin: 25px auto 10px;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 600;
}
.hero .heroText__a {
  color: #2f2f2f;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #515151;
  z-index: 1;
  transition: 0.3s;
}
.hero .heroText__a:hover {
  color: #000;
  transition: 0.3s;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.hero .heroInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  gap: 5em;
  text-align: center;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  bottom: 90px;
  margin: auto;
  color: whitesmoke;
  width: 60%;
}
.hero .heroInfo .infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
  transition: opacity 1.8s ease, transform 1.8s ease; /* Transiciones suaves para opacity y transform */
}
.hero .heroInfo .infoContainer__h3 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}
.hero .heroInfo .infoContainer__p {
  font-size: 13px;
  font-weight: 600;
}
.hero .heroInfo .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}
.hero .buttonsHero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 40px;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transition: opacity 1.8s ease, transform 1.8s ease; /* Transiciones suaves para opacity y transform */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
}
.hero .buttonsHero__a {
  padding: 10px;
  text-decoration: none;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 550;
}
.hero .buttonsHero__a--left {
  color: #2e313a;
  background-color: whitesmoke;
  border: solid 3px whitesmoke;
}
.hero .buttonsHero__a--right {
  background-color: transparent;
  border: solid 3px whitesmoke;
  color: whitesmoke;
  transition: 0.3s;
}
.hero .buttonsHero__a--right:hover {
  background-color: whitesmoke;
  color: #2e313a;
  transition: 0.3s;
}
.hero .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}

.heroSpecification {
  color: whitesmoke;
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0px -150px 100px 10px #000;
}

.separator {
  background-color: #000;
  height: 30vh;
  position: relative;
}
.separator__h2 {
  color: whitesmoke;
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  font-weight: 550;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transform: translateY(20px); /* Comienza desplazado hacia abajo 20px */
  transition: opacity 0.8s ease, transform 0.8s ease; /* Transiciones suaves para opacity y transform */
}
.separator .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}

.separator::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0px 100px 100px 10px #000;
}

.insider {
  height: 90vh;
  background-image: url("/images/insiderSection.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 40vh;
}

.insider::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0px 100px 100px 10px #000;
}

.video {
  width: 100%;
  background-color: #000;
  margin: auto;
}

.descriptions {
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding-top: 40vh;
}
.descriptions .caption {
  display: flex;
  flex-direction: row;
  width: 75%;
  margin: auto;
}
.descriptions .caption__img {
  flex: 1;
  width: 100px;
}
.descriptions .caption .captionText {
  color: whitesmoke;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1em;
}
.descriptions .caption .captionText__h5 {
  width: 320px;
}
.descriptions .caption .captionText__p {
  width: 350px;
  font-size: 14px;
}
.descriptions .caption:nth-child(even) {
  flex-direction: row-reverse;
}
.descriptions .caption:nth-child(odd) .captionText {
  display: flex;
  align-items: end;
}
.descriptions .caption:nth-child(odd) .captionText__h5 {
  width: 350px;
  border: solid 1px black;
}
.descriptions .caption:nth-child(odd) .captionText__p {
  width: 350px;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
