.slider-specifications {
  width: 100%;
  background-color: #000;
}
.slider-specifications--center {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 7em;
  padding-bottom: 40px;
  padding-top: 60px;
}
.slider-specifications .slider-specifications-asset {
  padding-top: 100px;
}
.slider-specifications .slider-specifications-asset__img {
  width: 600px;
}
.slider-specifications .slider-specifications-content {
  color: white;
  width: 35%;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
}
.slider-specifications .slider-specifications-content__h3 {
  font-size: 27px;
  font-weight: 400;
  padding-bottom: 25px;
  letter-spacing: 1px;
}
.slider-specifications .slider-specifications-content .slider-specifications-content-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}
.slider-specifications .slider-specifications-content .slider-specifications-content-buttons__button {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  background-color: #000;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
}
.slider-specifications .slider-specifications-content .button-off {
  border: solid 2px #191919;
  color: #bcbdbe;
}
.slider-specifications .slider-specifications-content .button-on {
  border: solid 2px white;
  color: white;
}
.slider-specifications .slider-specifications-content-showcases {
  margin-top: 30px;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns__ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns__li {
  list-style: none;
  position: relative;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-bottom: 10px;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns__li strong {
  font-weight: 600;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcases-sc .slider-specifications-content-showcase-columns__li::before {
  position: absolute;
  content: "";
  width: 15%;
  height: 1px;
  background-color: #8e8e8e;
  top: -2px;
}
.slider-specifications .slider-specifications-content-showcases .slider-specifications-content-showcase2 {
  display: none;
}
.slider-specifications .active {
  opacity: 1;
  transform: translateY(0);
  animation: none;
}/*# sourceMappingURL=slider-specifications.css.map */