@charset "UTF-8";
.top-hero {
  background-image: url("/images/hero1.png");
  height: 100vh;
}

.second-hero {
  background-image: url("/images/secondHero.jpg");
  height: 100vh;
}

.third-hero {
  background: url("/images/Model-S-Exterior-Hero.jpg");
  height: 100vh;
}

.hero-section {
  background-size: cover;
  background-position: center;
  height: 140vh;
  position: relative;
}
.hero-section__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section__h2 {
  color: #2f2f2f;
  text-align: center;
  margin: 25px auto 10px;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 600;
}
.hero-section__a {
  color: #2f2f2f;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #515151;
  z-index: 1;
  transition: 0.3s;
}
.hero-section__a:hover {
  color: #000;
  transition: 0.3s;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}
.hero-section__containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  gap: 5em;
  text-align: center;
  padding-bottom: 20px;
  left: 0;
  right: 0;
  bottom: 90px;
  margin: auto;
  color: whitesmoke;
  width: 60%;
}
.hero-section__container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 3;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
  transition: opacity 1.8s ease, transform 1.8s ease; /* Transiciones suaves para opacity y transform */
}
.hero-section__h3 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}
.hero-section__p {
  font-size: 13px;
  font-weight: 600;
}
.hero-section__p--specification {
  color: whitesmoke;
  z-index: 3;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}
.hero-section .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}
.hero-section__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 40px;
  opacity: 0; /* Comienza con opacidad cero (invisibles) */
  transition: opacity 1s ease, transform 1s ease; /* Transiciones suaves para opacity y transform */
  transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
}
.hero-section__button {
  padding: 10px;
  text-decoration: none;
  width: 250px;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 550;
}
.hero-section__button--left {
  color: #2e313a;
  background-color: whitesmoke;
  border: solid 3px whitesmoke;
}
.hero-section__button--right {
  background-color: transparent;
  border: solid 3px whitesmoke;
  color: whitesmoke;
  transition: 0.3s;
}
.hero-section__button--right:hover {
  background-color: whitesmoke;
  color: #2e313a;
  transition: 0.3s;
}
.hero-section .active {
  opacity: 1; /* Opacidad final es 1, completamente visible */
  transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
  animation: none; /* Desactiva la animación cuando se agrega la clase active */
}

.hero-insider {
  height: 90vh;
  background-image: url("/images/insiderSection.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 40vh;
}

.hero-insider::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0px 100px 100px 10px #000;
}

@media screen and (min-width: 1440px) {
  .top-hero {
    height: 100vh;
  }
  .second-hero {
    height: 80vh;
  }
  .third-hero {
    height: 80vh;
  }
  .hero-insider {
    background-image: url("/images/Model-S-Interior-Hero-Desktop-LHD.jpg");
  }
  .hero-section__p--specification {
    bottom: 10px;
  }
}
@media screen and (max-width: 787px) {
  .top-hero {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: url("/images/Model-S-Main-Hero-Mobile-LHD.jpg");
  }
  .second-hero {
    height: 70vh;
    background-size: cover;
  }
  .second-hero__containers {
    top: 70%;
  }
  .third-hero {
    height: 30vh;
    background-image: url("/images/Model-S-Exterior-Hero-Mobile-Global.jpg");
    background-color: #000;
    padding-top: 45%;
  }
  .hero-insider {
    height: 70vh;
    background-image: url("/images/Model-S-Interior-Hero-Mobile-LHD.jpg");
    background-size: cover;
  }
  .hero-section__containers {
    width: 95%;
    bottom: 25%;
    gap: 2em;
  }
  .hero-section__container {
    gap: 0.3em;
  }
  .hero-section__container--mobile {
    display: none;
  }
  .hero-section__h3 {
    font-size: 19px;
  }
  .hero-section__p {
    font-size: 11px;
  }
  .hero-section__p--specification {
    width: 90%;
  }
  .hero-section__buttons {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20%;
  }
  .hero-section__button {
    width: 80%;
  }
}/*# sourceMappingURL=heros.css.map */