/* Estilos específicos para la versión Escritorio */
.footer {
  padding-top: 30px;
  margin-bottom: 100px;
  &__p {
    width: 55%;
    margin: auto;
    text-align: center;
    font-size: 13px;
    padding-bottom: 50px;

    &--link-text {
      color: #2f2f2f;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-underline-offset: 3px;
      font-weight: 500;
      color: #515151;
      transition: 0.3s;
    }

    &--link-text:hover {
      color: #000;
      transition: 0.3s;
      text-decoration-thickness: 2px;
      text-underline-offset: 3px;
    }
  }

  &__links {
    width: 55%;
    margin: auto;
    margin-top: 20px;
  }

  &__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__li {
    list-style: none;
    font-size: 12px;
  }
  &__a {
    text-decoration: none;
    color: #56595c;
    font-weight: 600;
  }
}

/* Estilos específicos para la versión mobile */
@media screen and (max-width: 787px) {
  .footer {
    &__p {
      width: 85%;
      font-size: 12px;
    }

    &__ul {
      flex-direction: column;
      align-items: center;
    }
  }
}
