.hero-informative {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;

  &__asset {
    position: relative;
    width: 70%;
  }

  &__video {
    width: 100%;
  }

  &__img {
    width: 600px;
    position: absolute;
    right: 200px;
    left: 150px;
  }

  &__container {
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  &__info {
    width: 32%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    text-align: center;
    opacity: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
  }

  &__h3 {
    font-size: 22px;
    font-weight: 600;
  }

  &__p {
    font-size: 13px;
    font-weight: 500;
  }

  .active {
    opacity: 1; /* Opacidad final es 1, completamente visible */
    transform: translateY(
      0
    ); /* Vuelve a su posición original, sin desplazamiento vertical */
    animation: none; /* Desactiva la animación cuando se agrega la clase active */
  }

  .hero-informative-cta {
    width: 30%;
    position: relative;

    &__text {
      display: flex;
      flex-direction: column;
      padding: 50px 30px 0px 40px;
    }

    &__h3 {
      font-size: 18px;
      font-weight: 400;
    }
    &__h2 {
      font-weight: 600;
      font-size: 27px;
      padding-bottom: 30px;
    }
    &__p {
      font-size: 14px;
      font-weight: 500;
      color: #56595c;
      line-height: 20px;
      width: 100%;
    }

    &__buttons {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1em;
      opacity: 0;
      transition: opacity 1s ease, transform 1s ease;
      transform: translateY(50px);
      -webkit-transform: translateY(50px);
      -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
      -o-transform: translateY(50px);
    }

    &__button {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      color: black;
      padding: 10px;
      width: 75%;
      border-radius: 5px;

      &--white {
        border: solid 3px black;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;

        &:hover {
          background-color: #000;
          color: white;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }
      }
      &--grey {
        background-color: #f4f4f4;
        border: solid 3px #f4f4f4;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;

        &:hover {
          background-color: #e8e8e8;
          border: solid 3px #e8e8e8;
          color: black;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }
      }
    }
    .active {
      opacity: 1;
      transform: translateY(0);
      animation: none;
    }
  }
}
