.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0em;
  padding: 20px 40px 20px 40px;
}
.header__logo {
  display: flex;
  align-items: center;
  z-index: 2;
}
.header__logo--svg {
  color: #000;
  width: 120px;
}
.header .nav__ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.header .nav__li {
  list-style: none;
}
.header .nav__a {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 550;
  font-size: 14px;
}
.header .nav__span {
  display: none;
}
.header .nav__span--arrow {
  display: none;
}
.header .header-links__ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.header .header-links__li {
  list-style: none;
}
.header .header-links__a {
  text-decoration: none;
}
.header .header-links__img {
  width: 20px;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: inset 0px -150px 100px 10px #000;
}

.inactive {
  display: none;
}

@media screen and (max-width: 787px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    gap: 0em;
    padding: 20px;
    visibility: visible;
    transition: opacity 0.5s, visibility 0.5s;
    transition: all 0.5s ease;
  }
  .header--nav-open {
    padding: 0;
  }
  .header__logo {
    width: 130px;
  }
  .header__logo--svg {
    color: #000;
    width: 342px;
  }
  .header .nav {
    opacity: 0;
  }
  .header .nav--nav-open {
    padding: 0;
    background-color: white;
    display: block;
    opacity: 1;
    visibility: visible;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 9;
    transition: all 0.5s ease;
  }
  .header .nav__ul--nav-open {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 90%;
    margin-left: 20px;
    margin-top: 25%;
  }
  .header .nav__li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .nav__a {
    font-size: 18px;
  }
  .header .nav__span {
    display: block;
  }
  .header .nav__span--arrow {
    display: block;
    width: 22px;
    filter: invert(50%);
  }
  .header .nav__close-button {
    display: none;
  }
  .header .nav__close-button--nav-open {
    z-index: 9;
    width: 30px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 5%;
    font-size: 25px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: #545454;
  }
  .header__button-menu {
    background-color: rgba(101, 101, 101, 0.189); /* Color gris con 25% de opacidad */
    -webkit-backdrop-filter: blur(2%);
            backdrop-filter: blur(2%);
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
    text-decoration: none;
    color: #000;
  }
  .hidden {
    display: none;
  }
}
@supports (-webkit-touch-callout: none) {
  .nav__ul--nav-open {
    margin-top: 25%;
  }
}/*# sourceMappingURL=header.css.map */