.descriptions-section {
  background-color: #000;
  display: flex;
  flex-direction: column;
  padding-top: 30vh;
  padding-bottom: 20vh;

  &__container {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;

    &--first {
      &:nth-child(odd) {
        h5 {
          margin-left: 20%;
        }

        p {
          margin-left: 20%;
        }
      }
    }

    &--second {
      &:nth-child(even) {
        h5 {
          margin-left: 20%;
        }

        p {
          margin-left: 20%;
        }
      }
    }
  }

  &__img {
    flex: 1;
    width: 475px;
  }

  &__text {
    color: whitesmoke;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    opacity: 0; /* Comienza con opacidad cero (invisibles) */
    transition: opacity 1s ease, transform 1s ease; /* Transiciones suaves para opacity y transform */
    transform: translateY(50px); /* Comienza desplazado hacia abajo 20px */
  }

  &__h5 {
    width: 320px;
  }

  &__p {
    width: 350px;
    font-size: 14px;
  }

  .active {
    opacity: 1; /* Opacidad final es 1, completamente visible */
    transform: translateY(0); /* Vuelve a su posición original, sin desplazamiento vertical */
    animation: none; /* Desactiva la animación cuando se agrega la clase active */
  }
}
